@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start);
  @include m.fontHeading3("bold");
  @include m.fixed(0 auto auto 0);
  z-index: c.$Z_LNB;
  width: c.$S_LNB_WIDTH;
  height: 100%;
  padding: calc(c.$S_GNB_HEIGHT + 24px) 0 24px;
  background-color: var(--c-dark-dark-70);
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 25%);
  transition: width 0.3s ease-in-out;

  .lnb {
    @include m.flex(flex-start, center, column);
    gap: 16px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &.isFolded {
    width: c.$S_LNB_FOLDED_WIDTH;
  }

  .toggleButton {
    @include m.absolute(calc(c.$S_GNB_HEIGHT + 32px) auto auto 100%);
    @include m.flex;
    width: 32px;
    height: 32px;
    background-color: var(--c-dark-dark-70);
    border-radius: 50%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 25%);
    transform: translateX(-50%);

    &.isFolded svg {
      transform: rotate(180deg);
    }
  }
}
