@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.fontBody2("bold");
  position: relative;
  display: inline-block;
  padding: 12px 24px;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    color: var(--c-ui-white);
    background-color: var(--c-ui-blue);
    border-radius: 4px;
    box-shadow:
      0 1px 1px 0 rgba(0, 0, 0, 14%),
      0 2px 1px 0 rgba(0, 0, 0, 12%),
      0 1px 3px 0 rgba(0, 0, 0, 20%);

    &:disabled {
      background-color: var(--c-ui-gray-75);
      box-shadow: none;
    }
  }

  &.secondary {
    color: var(--c-ui-blue);
    border: 1px solid var(--c-ui-blue);
    border-radius: 4px;

    &:disabled {
      color: var(--c-ui-gray-75);
      border-color: var(--c-ui-gray-75);
    }
  }

  &.outlined {
    color: var(--c-ui-black);
    border: 1px solid var(--c-ui-gray-75);

    &:disabled {
      color: var(--c-ui-gray-75);
    }
  }

  &.text {
    padding: 0;
    color: var(--c-ui-blue);

    &:disabled {
      color: var(--c-ui-gray-75);
    }
  }
}
