@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_GNB;
  width: 100%;
  height: c.$S_GNB_HEIGHT;
  padding: 0 20px;
  background-color: var(--c-dark-dark-70);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 25%);
  transform: translateX(-50%);

  .logoWrapper {
    @include m.flex;
    gap: 10px;

    .title {
      @include m.fontHeading2("bold");
      color: var(--c-ui-white);
    }
  }
}
